
.about-image{
    background-image: url(../images/about-header1.jpg);
    background-repeat: no-repeat;
    height: 430px;
    margin-top: 60px;
    background-size:cover;
    background-position: center center;
    background-position: top;
    z-index: -9999;
    min-width: 100%;
    padding: 0 20px;

}


.about-heading{
    color: white;
    position: relative;
    left: 937px;
    position: relative;
    top: 28px;
    font-size: 24px;

}


.para-1{
    color: white;
    font-size: 20px;
    width: 415px;
    position: relative;
    left: 839px;
    top: 25px;
    font-weight: 300;
}

.para-2{
    color: white;
    font-size: 20px;
    width: 415px;
    position: relative;
    left: 839px;
    top: 15px;
    font-weight: 300;

}

.our-website-heading{
    margin-top: 130px;
}

.hr-parent{
    display: flex;
    justify-content: center;
}

.hr{
    margin: 1rem 0;
    border: 0;  
    border-top: 3px solid;
    opacity: .30;
    width: 1200px;


}


.about-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
  }
  
  .image-and-title-wrapper {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 60px;
    text-align: center;
  }
  /* --------------------------------------------------get started start from here */

  .get-started-about{
    background: #5EFFCF;
    display: flex;
    align-items: center;
    height: 300px;
  }

  .get-started-about p{
    
    font-size: 41px;
    width: 823px;
    font-weight: 450;
    margin-left: 27px;
  }

  .about-start-btn{
    height: 73px;
    width: 166%;
    position: relative;
    top: -39px;
    left: 250px;
    border-radius: 100px;
    font-size: 22px;
    border: none;
    background: #F99751;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.about-start-btn:hover{
    background-color: #9EF01A;
    transition: .3s ease;
    color: white;

} 

/* ================================ */

/* For tablets */
@media only screen and (max-width: 768px) {
    .about-image {
      height: 300px;
      margin-top: 40px;
    }

    .about-heading{
      margin-right: 240px;
    }

    .about-heading,
    .para-1,
    .para-2 { 
      left: auto;
      right: auto;
      text-align: center;
      font-size: 18 px
    }
    .our-website-heading-parent{
      display: flex;
      justify-content: center;
    
    }
    .our-website-heading {
      margin-top: 40px;
      font-size: 25px;
    }
    .hr {
      width: 90%;
    }

    .about-icon-wrapper {
      margin-top: 50px;
    }
    .image-and-title-wrapper {
      flex-basis: calc(50% - 10px);
    }


    .get-started-about p {
      font-size: 30px;
      width: auto;
    }
    .about-start-btn {
      left: auto;
      right: auto;
      margin-top: 20px;
    }
  }
  
  /* For mobile phones */
  @media only screen and (max-width: 480px) {
    .about-image {
      height: 200px;
      margin-top: 20px;
    }
    .about-heading {
      font-size: 20px;
      top: 10px;
    }
    .para-1,
    .para-2 {
      font-size: 16px;
      width: auto;
      top: 10px;
    }
    .our-website-heading {
      margin-top: 60px;
    }
    .hr {
      width: 80%;
    }
    .about-icon-wrapper {
      margin-top: 30px;
    }
    .image-and-title-wrapper {
      flex-basis: calc(100% - 10px);
    }
    .get-started-about p {
      font-size: 20px;
      margin-left: 10px;
    }
    .about-start-btn {
      font-size: 18px;
      height: 60px;
      width: 160px;
      top: -30px;
      left: auto;
      right: auto;
    }
    
  }
  
