

 .checkout-main-container{
  height: auto;
  width: 700px;
  border: 1px solid gray;
  display: flex;
  margin: 0 0 15px 25px
 }
 .unique-name-and-price{
  flex: 1.2;
  height: 100px;
  display: flex;
  /* border: 1px solid rgb(177, 90, 90); */
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
 }

 .years-and-remove-btn{
  height: 100px;
  display: flex;
  flex: .5;
  /* border: 2px solid rgb(42, 194, 174); */
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
 } 
/* order summury css */
.order-summary-wrapper {
  width: 28%;
  height: 400px;
  background: #f3f6f8;
  position: fixed;
  left: 65%;
  bottom: 140px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.order-summary-wrapper p {
  font-size: 18px;
}

.order-summary-wrapper button {
  padding: 4px;
  width: 90%;
  margin-left: 20px;
  height: 50px;
  margin-top: 60%;
  background: black;
  color: white;
  font-weight: 600;
  border: none;
  margin-top: 80px;
  cursor: pointer;
  transition: .3s;
}  

.order-summary-wrapper button:hover{
  transition: .3s;
  color: black;
  background: green;

}



.remove-btn {
  background: red;
  color: white;
  padding: 3px;
  width: 70px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

.price-item {
  color: #228b22;
  font-size: 23px;
}
.mycart-heading {
  margin-left: 20px;
  color: green;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 500;
}
.error {
  font-size: 50px;
  color: #ff4500;
  margin-top: 100px;
  word-spacing: -8px;
}



/* @media screen and (max-width: 468px) {
  .order-summary-wrapper {
    left: 65%;
    bottom: 140px;
    border-radius: 10px;
    padding: 20px;
  }
}

@media screen and (max-width: 968px) {
  .order-summary-wrapper {
    left: 10%;
    bottom: 734px;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
  }
}

 */
