.pricing-wrapper{
    display: flex;
    margin-top: 60px;
    justify-content:space-evenly;
    background-color:#151419;
    height:650px;

}
.pricing-wrapper-margin{
  margin-top: -50px;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
}
.checked-image{
    height: 32px;
    width: 32px;
    margin-top: -20px;
}

.free-list{
    display: flex;
    margin-top: 40px;
    height: 0px;
}
.plans{
  color: white;
}

.price-list-free{
    background: #23242a;
    width: 300px;
    height: 500px; 
    margin-top: 20px;   
}
.image-logo{
    margin-top: 30px;
}

.free-heading {
    font-size: 30px;
    font-weight: 650;
    color: white
}

.free-package{
    color: #848484;
    font-size: 19px;
    font-weight: 500;
}

.btn-for-free{
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
    font-size: 22px;
    background: #FF6551;
    color: white;
}
.move-free-btn{
  margin-top: 40px;
}



.checked-image{
    margin-left: 43px;
}

.plans{
    margin-bottom: 10px;
    margin-left: 13px;
    margin-top: -20px;
}


/* premium-list */

.premium-list{
    display: flex;
    margin-top: 40px;
    height: 0px;
}
.premium-header{
  color: black;
  font-weight: 600;
}
.premium-bg{
  background-color: white;
}

.price-list-premimum{
  background: #23242a;
   
    width: 300px;
    height: 580px; 
    margin-top: 20px;  
    
}

.premium-heading {
    font-size: 30px;
    font-weight: 650;
    color: white
    
}

.premium-package{
    color: #848484;
    font-size: 22px;
    font-weight: 500;
}
    .btn-for-premium{
        width: 200px;
        height: 40px;
        border-radius: 6px;
        border: none;
        font-size: 22px;
        background: #FF6551;
        color: white;
    }
    .move-premium{
      margin-top: 24px;
    }

    .ruppee{
        position: relative;
        left: 1px;
        font-size: 28px;
        color: white;
    }


/* media query=========== */
@media screen and (max-width:480px){
  .pricing-wrapper{
    height: 200%;
  }
  .price-list-premimum{
    width: 56%;
    height: 86%;
  }
  .price-list-free{
    width: 40%;
  }
  .plans{
    margin-left: 8px;
    margin-top: -20px;
  }
  .checked-image{
    margin-left: 12px;
  }
  .btn-for-free{
    height: 35px;
    width: 131px;
  }
  .premium-heading{
    font-size: 17px;
  }
  .premium-package{
    font-size: 15px;
    margin-top: -18px;
  }
  .ruppee{
    top: -19px;
  }
  .premium-list{
    height: 10px;
    width: 255px;
  }
  .text-primary{
    display: none;
  }
}


 