
.first-list-items{
    margin-left: 75px;
    font-size: 19px;

}

.second-list-heading{
    margin-left: 80px;
    font-size: 19px;
}

.third-list-heading{
    margin-left: 154px;
    font-size: 19px;
}

.footer-container{
    margin-top: auto;
    margin-top: 143vh;
}