.background-image{
    background-image: url(../images/gradientbg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 60px;
    background-size:cover;
    background-position: center center;
    z-index: -9999;


}


.log-in-wrapper{
    height: 500px;
    width: 33%;
    border: 2px solid grey;
    position: relative;
    top: 25px;
    margin-left: 33%;
    background-color: azure;
    border-radius: 20px;
   
}


.log-in-wrapper h1{
    color: #FF6551;  
    font-size: 40px;
    position: relative;
    right: -80px;
    margin-bottom: 10px;
    
}

.login-label{
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 18px;
    color: rgb(24, 26, 26);
}

.login-input{
    border-radius: 8px;
    text-indent: 5px;
    width: 390px;
    border-color: grey;
}

.login-withme-submit-btn{
    width: 59%;
    padding: 13px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: #3F5193;
    color: white;
    transition: .3s;
    margin-left: 90px;
}


.login-withme-submit-btn:hover{
    transition: .3s;
    background: #FF6551;
}
.forgot-password{
    margin-left: 297px;
}

.continue-with-google-btn{
 width: 59%;
 padding: 13px;
 border-radius: 8px;
 font-size: 20px;
 border: 1px solid grey;
 cursor: pointer;
 background: #000;
 color: #000;
 margin-top: 40px;
 color: white;
 transition: .3s;
 margin-left: 90px;
        
}

 .continue-with-google-btn:hover{
     background-color: #FFF;
     color: black;
     transition: .3s;
 }

 .forgot-password {
    cursor: pointer
    
    ;
 }