.user-data{
    display: flex;
    justify-content: center;
}

.user-image{
    position:relative;
    right: 20px;
    border-radius: 50%;
    max-width: 31%;
    height: auto;   
}



.user-name{
    position: absolute;
    top: 40px;
    width: 100%;
    right: -991px;

}
.btn-log-in{
    font-size: 12px;
    padding: 7px;
    position: absolute;
    width: 100px;
    top: 14px;
    right: 30px;
    border-radius: 14px;
    outline: none;
    border: none;
    background: #F99751;
    height: 30px;
    letter-spacing: 1px;
}
