.sign-up-wrapper{

    height: 450px;
    /* background-image: url("../images/gradientbg.jpg"); */

    background-size: cover;
    width: 30%;
    border: 1px solid whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    margin-top: -830px;
    margin-left: 809px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
   
}


input{
    border:1px solid grey;
}

.signup-input:placeholder-shown{
    font-size: 15px;
    background-color: #F3F6F8;
}

.sign-up-wrapper h2{
    color: black;  
    font-size: 30px;
    position: relative;
    right: 38px;
    margin-bottom: 1px;
    margin-top: 23px;
}
.sign-up-wrapper p{
  margin-left: -92px;
  color: gray;
  margin-top: 3px;
}

.signup-label{
  display: flex;
    font-size: 20px;
    margin-bottom: 8px;
    color: azure;
    margin-left: 33px;
    margin-bottom: 13px;

}

.signup-input{
    border-radius: none;
    text-indent: 5px;
    width: 300px;
    border-color: grey;
    
}


.btn-sign-in{

    width: 30%;
    margin-left: 15px;
    padding: 13px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: #3F5193;
    color: white;
    transition: .3s;
    margin-top: 10px;
}


.btn-sign-in:hover{
   transition: .3s;
   background: #FF6551;
}



/* media query========= */

@media screen and (max-width:900px) {
    .sign-up-wrapper{
        right: 12%;
        width: 55%; 
        position: fixed;   
    } 
}

@media screen and (max-width:480px){
    .sign-up-wrapper{
        width: fit-content;
        height: 550px;
        width: 70%;
       
    }
    .signup-input {
        border-radius: none;
        text-indent: 5px;
        width: 221px;
        border-color: grey;
        margin-left: -31px;

}
.sign-up-wrapper h2{
  
        font-size: 21px;
        margin-left: 88px;
        margin-top: -102px;
    }
    .sign-up-wrapper p {
        margin-left: -92px;
        color: gray;
        margin-top: 3px;
        font-size: small;
        margin-left: 10px;
    }
    .btn-sign-in {
        width: 50%;
}
}
